/*
0 - 600px:      Phone
600 - 768px:    Tablet portrait
768 - 1200px:   Tablet landscape
[1200 - 1920] is where our normal styles apply
1920px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 120em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 48em) {
    body {
      padding: 0; } }

::selection {
  background-color: #57CC99;
  color: #FFFFFF; }

body {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #FFFFFF; }

.heading-primary {
  color: #000000;
  text-transform: uppercase; }

.heading-primary-main {
  display: block;
  letter-spacing: 0.02em;
  font-size: 1em; }

.heading-secondary {
  font-weight: 500;
  color: #000000;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 48em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 48em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.button, .button:link, .button:visited {
  margin-top: 4em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  position: relative;
  padding: 2rem 4rem 2rem 2rem;
  width: 21rem;
  background-color: #57CC99;
  color: #000000;
  border: none;
  cursor: pointer; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.button__text {
  font-size: 1.7rem;
  font-weight: 600; }

.button::after {
  content: url(../../img/svg/whatsapplogo.svg);
  position: absolute;
  padding-left: 1rem;
  float: right;
  transform: scale(0.85); }

.card1 {
  height: 22rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem; }
  .card1__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3rem; }
  .card1__icon {
    margin-bottom: 3rem; }
  .card1__icon-1 {
    width: 50px; }
  .card1__icon-2 {
    width: 41.29px; }
  .card1__icon-3 {
    width: 29.45px; }
  .card1__text {
    color: #777777;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem; }

.card2 {
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: relative; }
  .card2__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card2__picture--1 {
      background-image: url(./../../img/mika-baumeister-xWtloyvoK0E-unsplash.jpg); }
    .card2__picture--2 {
      background-image: url(../../img/nathaniel-yeo-747NDboAWNY-unsplash.jpg); }
    .card2__picture--3 {
      background-image: url(../../img/hans-reniers-lQGJCMY5qcM-unsplash.jpg); }
  .card2__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    top: 14rem;
    right: 2rem;
    width: 75%; }
  .card2__heading-span {
    padding: 0.7rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card2__details {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card2__text {
    font-weight: 400;
    color: #777777;
    font-size: 1.3rem; }

.carousel__controls {
  background-color: #7ED56F;
  width: 5% !important; }
  .carousel__controls__previous {
    background-image: url("../../img/svg/ic_keyboard_arrow_left_120px.svg") !important;
    width: 120px !important;
    height: 120px !important; }
  .carousel__controls__next {
    background-image: url("../../img/svg/ic_keyboard_arrow_right_120px.svg") !important;
    width: 120px !important;
    height: 120px !important; }

.row {
  max-width: 114rem !important;
  margin: 0 auto !important; }
  .row:not(:last-child) {
    margin-bottom: 8rem !important; }
    @media only screen and (max-width: 48em) {
      .row:not(:last-child) {
        margin-bottom: 6rem !important; } }
  @media only screen and (max-width: 48em) {
    .row {
      max-width: 50rem !important;
      padding: 0 3rem !important; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left !important; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 30rem !important; }
      @media only screen and (max-width: 48em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0 !important;
          margin-bottom: 6rem !important; } }
    @media only screen and (max-width: 48em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 30rem) / 2) !important; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 30rem) / 3) !important; }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 30rem) / 3) + 30rem) !important; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 30rem) / 4) !important; }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 30rem) / 4) + 30rem) !important; }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 30rem) / 4) + 2 * 30rem) !important; }

.row2 {
  max-width: 114rem !important;
  margin: 0 auto !important; }
  .row2:not(:last-child) {
    margin-bottom: 8rem !important; }
    @media only screen and (max-width: 48em) {
      .row2:not(:last-child) {
        margin-bottom: 6rem !important; } }
  @media only screen and (max-width: 48em) {
    .row2 {
      max-width: 50rem !important;
      padding: 0 3rem !important; } }
  .row2::after {
    content: "";
    display: table;
    clear: both; }
  .row2 [class^="col-"] {
    float: left !important; }
    .row2 [class^="col-"]:not(:last-child) {
      margin-right: 6rem !important; }
      @media only screen and (max-width: 48em) {
        .row2 [class^="col-"]:not(:last-child) {
          margin-right: 0 !important;
          margin-bottom: 6rem !important; } }
    @media only screen and (max-width: 48em) {
      .row2 [class^="col-"] {
        width: 100% !important; } }
  .row2 .col-1-of-2 {
    width: calc((100% - 30rem) / 2) !important; }
  .row2 .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3) !important; }
  .row2 .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 30rem) / 3) + 30rem) !important; }
  .row2 .col-1-of-4 {
    width: calc((100% - 3 * 30rem) / 4) !important; }
  .row2 .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 30rem) / 4) + 30rem) !important; }
  .row2 .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 30rem) / 4) + 2 * 30rem) !important; }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(56, 163, 165, 0.2), rgba(56, 163, 165, 0.2)), url(../img/flores.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__image {
    margin-left: 40px;
    width: 150px; }
  .navigation__link {
    flex-direction: row;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-right: 40px;
    cursor: pointer; }

.section-categorias {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  padding: 10rem 0; }

.section-promociones {
  background-color: #FFFFFF;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section-sucursales {
  background-color: #F1F1F1;
  padding: 10rem 0; }
