/*
0 - 600px:      Phone
600 - 768px:    Tablet portrait
768 - 1200px:   Tablet landscape
[1200 - 1920] is where our normal styles apply
1920px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 120em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 48em) {
    body {
      padding: 0; } }

::selection {
  background-color: #57CC99;
  color: #FFFFFF; }

body {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #FFFFFF; }

.heading-primary {
  color: #000000;
  text-transform: uppercase; }

.heading-primary-main {
  display: block;
  letter-spacing: 0.02em;
  font-size: 1em; }

.heading-secondary {
  font-weight: 500;
  color: #000000;
  text-transform: uppercase; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 48em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 48em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  margin-top: 4em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 40px 20px 40px;
  width: 30%; }

.btn__text {
  padding-right: 15%;
  font-size: 1.7rem;
  font-weight: 600; }

.btn__icon-wapp {
  position: absolute;
  width: 31px;
  height: 31px;
  margin-left: 65%;
  transform: scale(0.85); }

.btn-green {
  background-color: #57CC99;
  color: #000000; }

.card {
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem; }
  .card__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3rem; }
  .card__icon {
    margin-bottom: 3rem; }
  .card__icon-1 {
    width: 50px; }
  .card__icon-2 {
    width: 41.29px; }
  .card__icon-3 {
    width: 29.45px; }
  .card__text {
    color: #777777;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 48em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 48em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 15rem; }
      @media only screen and (max-width: 48em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 48em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 15rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 15rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 15rem) / 3) + 15rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 15rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 15rem) / 4) + 15rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 15rem) / 4) + 2 * 15rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(56, 163, 165, 0.2), rgba(56, 163, 165, 0.2)), url(../img/flores.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation__image {
    margin-left: 40px;
    width: 150px; }
  .navigation__link {
    flex-direction: row;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    margin-right: 40px;
    cursor: pointer; }

.section-categorias {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  padding: 10rem 0; }
