.footer1{
    background-color: rgba($color-tertiary,0.8);
    color: $color-white;
    padding: 10rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    

    &__container{
        margin-left: 10rem;
        display: flex;
        //text-align: center;
        //align-items: center;

        @include respond(tab-port){
            flex-direction: column;
            text-align: center;
            margin-left: 0;
        }

        &--1{
            @include respond(tab-port){
                margin-bottom: 3rem;
                font-size: 2rem;
            }
        }

        &--2{
            @include respond(tab-port){
                margin-bottom: 3rem;
                font-size: 2rem;
            }
        }
        
        &--3{
            @include respond(tab-port){
                font-size: 2rem;
            }
        }

        
    }

    &__image{
        width: 75%;
        margin-bottom: 3rem;

        @include respond(tab-port){
            margin-bottom: 4rem;
        }
    }

    &__horarios{
        margin-bottom: 3rem;

        &__text{
            font-weight: 500;
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    &__telefono{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        

        @include respond(tab-port){
            align-items: center;
        }

        &__text{
            font-weight: 500;
            line-height: 1;

            &-icon{
                font-weight: 500;
                margin-top: .5rem;
                display: flex;

                &::before{
                    content: "";
                    height: 25px;
                    width: 25px;
                    background-size: 25px 25px;
                    background-image: url(../../img/svg/whatsapp.svg);
                    background-repeat: no-repeat;
                    margin-right: 1rem;
                }
            }

        }
    }

    &__direccion{
        margin-bottom: 3rem;

        &__text{
            font-weight: 500;
            line-height: 1;
        }
    }


    &__container__social-media{
        margin-top: 5rem;
    }

    &__social-media__icons{
        display: flex;
        justify-content: space-between;

        &-fb{
            margin-left: -1rem;
            width: 48px;
            height: 48px;
        }

        &-ig{
            //margin-left: 11rem;
            width: 48px;
            height: 48px;
        }
    }

}