.row1{
    max-width: $grid-width !important;
    margin: 0 auto !important;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical !important;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small !important;
        }
    }
    
    @include respond(tab-port) {
        max-width: 50rem !important;
        padding: 0 3rem !important;
    }

    @include clearfix;

    [class^="col-"] {
        float: left !important;

        &:not(:last-child) {
            margin-right: $gutter-horizontal !important;

            @include respond(tab-port) {
                margin-right: 0 !important;
                margin-bottom: $gutter-vertical-small !important;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        
    }

}

.row2  {
    max-width: $grid-width !important;
    margin: 0 auto !important;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical !important;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small !important;
        }
    }
    
    @include respond(tab-port) {
        max-width: 50rem !important;
        padding: 0 3rem !important;
    }

    @include clearfix;

    [class^="col-"] {
        float: left !important;

        &:not(:last-child) {
            margin-right: $gutter-horizontal-2 !important;

            @include respond(tab-port) {
                margin-right: 0 !important;
                margin-bottom: $gutter-vertical-small !important;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }


    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal-2}) / 3);
    }


}

