.btn:link,
.btn:visited{
    margin-top: 4em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 40px 20px 40px;
    width: 30%;
}

.btn-text{
    padding-right: 15%;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-green{
    background-color: #57CC99;
    color: #000000;
}