.button{

    &,
    &:link,
    &:visited{

        margin-top: 4em;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        border-radius: 100px;
        position: relative;
        padding: 2rem 4rem 2rem 2rem;
        width: 25rem;
        background-color: $color-primary;
        color: $color-black;
        border: none;
        cursor: pointer;
        transition: all .4s;

    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &__text{
        font-size: 2rem;
        font-weight: 600;
        
    }


    &::after{

        content: "";
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        background-size: 32px 32px;
        background-image: url(../../img/svg/whatsapplogo.svg);
        background-repeat: no-repeat;
        right: 3rem;
        top: 2.3rem;



        @include respond(tab-land){
            height: 30px;
            width: 30px;
            background-size: 30px 30px;
            right: 2.5rem;
            top: 1.8rem;
        }
        @include respond(tab-port){
            height: 25px;
            width: 25px;
            background-size: 25px 25px;
            right: 2.5rem;
            top: 2rem;
        }
        @include respond(phone){
            height: 20px;
            width: 20px;
            background-size: 20px 20px;
            right: 2.5rem;
            top: 2rem;
        }
        
    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        
    }
}




