.button{

    &,
    &:link,
    &:visited{

        margin-top: 4em;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        border-radius: 100px;
        position: relative;
        padding: 2rem 4rem 2rem 2rem;
        width: 21rem;
        background-color: $color-primary;
        color: $color-black;

        border: none;
        cursor: pointer;

    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }

    &__text{
        font-size: 1.7rem;
        font-weight: 600;
        
    }


    &::after{
        content: url(../../img/svg/whatsapplogo.svg);
        position: absolute;
        padding-left: 1rem;
        float: right;
        transform: scale(0.85);
    }
}




