.carousel__controls{
    background-color: $color-primary-light;
    width: 5% !important;

    @include respond(tab-land){
        width: 3% !important;
    }

    &__previous{
        background-image: url('../../img/svg/ic_keyboard_arrow_left_120px.svg') !important;
        width: 120px !important;
        height: 120px !important;

    }

    &__next{
        background-image: url('../../img/svg/ic_keyboard_arrow_right_120px.svg') !important;
        width: 120px !important;
        height: 120px !important;
    }
    

}
@include respond(tab-port){

    .d-block{
        width: 100% !important;
    }
    
}