.collage{
    padding: 8rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    @include respond(tab-port){
        padding: 20rem 5rem 10rem 5rem;
    }

    &__text{
        color: $color-black;
        flex: 1 1;
        margin-right: 5rem;

        &__heading--2{
            text-align: center;
            margin-right: 5rem;

            @include respond(tab-port){
                margin-right: 0;
            }
        }

        &__paragraph{
            font-size: 2.5rem;
            font-weight: 500 ;
        }

        &__span{
            text-decoration: underline;
            font-weight: 700;    
        }

    }

    &__image{

        border-radius: 5px; 
        box-shadow: 0px 16px 40px rgba($color-black,0.15);
        flex: 1 1;

        &--1{
            width: 30%;
        
            @include respond(tab-port){
                display: none;
            }
        }

        &--2{
            height: 60vh;
            object-fit: cover;

            @include respond(tab-port){
                display: none;
            }
        }

    }
    
    &__list{
        flex: 1 1;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-top: 2rem;

        @include respond(tab-port){
            margin-top: 5rem;
            margin-left: 10rem;
        }

        &__item{
            font-weight: 500;
            list-style:url(../../img/svg/elipse.svg);
            font-size: 2.5rem;
            list-style-position: inside;

            &:not(:last-child){
                margin-bottom: 1rem;
            }

            
            @include respond(tab-land){
                margin-left: 3rem;
            }
        }
    }

}
