body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-white;
}

.heading-primary{
    color: $color-black;
    text-transform: uppercase;

}
.heading-primary-main{
    display: block;
    letter-spacing: 0.02em;
    font-size: 1em;
}

.heading-secondary{
    font-weight: 500;
    color: $color-black;
    text-transform: uppercase;
}

.heading-tertiary{
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
    font-size: 2.1em;
    margin-bottom: 1rem;
}