body {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: 1.7 !important;
    color: $color-white;
    font-size: 1rem;
}

.heading-primary{
    color: $color-black;
    text-transform: uppercase;
    font-size: 3em !important;

}
.heading-primary-main{
    display: block;
    letter-spacing: 0.02em !important;
    

    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.heading-secondary{
    font-weight: 500;
    color: $color-black;
    text-transform: uppercase;
}

.heading-tertiary{
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
    font-size: 2.1em;
    margin-bottom: 1rem;

    @include respond(phone){
        margin-bottom: 2rem;
    }
}

.heading-fourth{
    color: $color-black;
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.paragraph{
    font-size: $default-font-size;

    @include respond(tab-port){
        font-size: 2rem;
    }
}

