.section-categorias{  
    background: linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8),
        rgba($color-primary-dark,0.8));
        padding: 10rem 0;
}

.section-promociones{
    background-color: $color-white;
    padding:  10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-sucursales{
    background-color: $color-grey;
    padding: 10rem 0;
}

